In [1]:
import numpy as np 
import pandas as pd

In [2]:
True_news = pd.read_csv("True.csv")
Fake_news = pd.read_csv("Fake.csv")

In [3]:
True_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
Fake_news

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
True_news['label']= 0
Fake_news['label']= 1

In [6]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [7]:
Fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [8]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [9]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [10]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [11]:
dataset =pd.concat([dataset1,dataset2])

In [12]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [13]:
dataset.shape

(44898, 2)

In [14]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [15]:
dataset['label'].value_counts()

label
1    23481
0    21417
Name: count, dtype: int64

In [16]:
dataset =dataset.sample(frac =1)

In [17]:
dataset

                                                    text  label
19733  These videos, by James O Keefe and friends at ...      1
14682  PARIS (Reuters) - Lebanon s Saad al-Hariri has...      0
12335  BEIJING/TAIPEI (Reuters) - China accused the U...      0
4330   PALM BEACH, Fla./WASHINGTON (Reuters) - Top Wh...      0
3743   WASHINGTON (Reuters) - U.S. industry groups ha...      0
...                                                  ...    ...
14574  This is such a sad, tragic and misunderstood s...      1
3691   Donald Trump won the presidential election. Bu...      1
7697   When Donald Trump isn t bragging about the siz...      1
19789   Graphic, uncensored and disturbing is how Jam...      1
14682  As Hillary sinks in the polls, she s becoming ...      1

[44898 rows x 2 columns]

In [18]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [19]:
ps = WordNetLemmatizer()

In [20]:
stopwords =stopwords.words('english')

In [21]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kirti\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
def clean_row(row):
    row =row.lower()
    row = re.sub('[^a-zA-Z]','',row)
    token =row.split()
    
    news =[ps.lemmatize(word) for word in token if not word in stopwords]
    
    cleanned_news ="".join(news)
    
    return cleanned_news

In [23]:
dataset['text']

19733    These videos, by James O Keefe and friends at ...
14682    PARIS (Reuters) - Lebanon s Saad al-Hariri has...
12335    BEIJING/TAIPEI (Reuters) - China accused the U...
4330     PALM BEACH, Fla./WASHINGTON (Reuters) - Top Wh...
3743     WASHINGTON (Reuters) - U.S. industry groups ha...
                               ...
14574    This is such a sad, tragic and misunderstood s...
3691     Donald Trump won the presidential election. Bu...
7697     When Donald Trump isn t bragging about the siz...
19789     Graphic, uncensored and disturbing is how Jam...
14682    As Hillary sinks in the polls, she s becoming ...
Name: text, Length: 44898, dtype: object

In [24]:
dataset['text'] = dataset['text'].apply(lambda x: clean_row(x))

In [25]:
dataset['text']

19733    thesevideosbyjamesokeefeandfriendsatprojectver...
14682    parisreuterslebanonssaadalharirihasacceptedani...
12335    beijingtaipeireuterschinaaccusedtheunitedstate...
4330     palmbeachflawashingtonreuterstopwhitehouseaide...
3743     washingtonreutersusindustrygroupshavetoldpresi...
                               ...
14574    thisissuchasadtragicandmisunderstoodstorybysom...
3691     donaldtrumpwonthepresidentialelectionbutdidher...
7697     whendonaldtrumpisntbraggingaboutthesizeofhisdc...
19789    graphicuncensoredanddisturbingishowjamesokeefe...
14682    ashillarysinksinthepollsshesbecomingaregularon...
Name: text, Length: 44898, dtype: object

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
Vectorizer = TfidfVectorizer(max_features=50000, lowercase=False, ngram_range=(1, 2))

In [28]:
x = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [29]:
x

19733    thesevideosbyjamesokeefeandfriendsatprojectver...
14682    parisreuterslebanonssaadalharirihasacceptedani...
12335    beijingtaipeireuterschinaaccusedtheunitedstate...
4330     palmbeachflawashingtonreuterstopwhitehouseaide...
3743     washingtonreutersusindustrygroupshavetoldpresi...
                               ...
9044     reuterspresumptiverepublicannomineedonaldtrump...
17762    capitalismatworkitsfunnyhowthelossofrealmoneyh...
18647    madridreutersspanishpolicehaveoccupiedthecatal...
18367    berlinreutersitisimportantforspaintoupholdther...
10381    presidenttrumpwassportingacommemorativestetson...
Name: text, Length: 35000, dtype: object

In [30]:
y

19733    1
14682    0
12335    0
4330     0
3743     0
        ..
9044     0
17762    1
18647    0
18367    0
10381    1
Name: label, Length: 35000, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
train_data,test_data,train_label,test_label = train_test_split(x,y,test_size =0.2, random_state =0)

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize the TfidfVectorizer with desired settings
vectorizer = TfidfVectorizer(max_features=50000, lowercase=False, ngram_range=(1, 2))

# Assuming you have a list of text documents named 'train_data'
vec_train_data = vectorizer.fit_transform(train_data)
vec_train_data = vec_train_data.toarray()

In [34]:
vec_test_data = vectorizer.fit_transform(test_data)
vec_test_data = vec_test_data.toarray()

In [35]:
vec_train_data.shape,vec_test_data.shape

((28000, 25238), (7000, 6749))

In [36]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [37]:
train_data

7445     ifyoudontthinkthatdonaldtrumpshorribleracistrh...
4736     washingtonreutersarevisedrepublicanbilltodisma...
16023    washingtonreuterstheunitedstatesbelievesprogre...
11507
14116    srebrenicabosniareutersbosnianmuslimswholostlo...
                               ...
22131    billaukenthedayafteruswarshipsrainedsometomaha...
18856    mexicocityreutersmexicospresidentonwednesdaysa...
12880    itsamazingtheseleftisthackshaventbeencancelled...
7554     firstoffifyourereadingthisandhaveneverbeenwron...
1680     ontuesdaywhitehousepropagandaministerseanspice...
Name: text, Length: 28000, dtype: object

In [55]:

from sklearn.naive_bayes import MultinomialNB


clf = MultinomialNB()

In [58]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.model_selection import train_test_split

train_data, test_data, train_label, test_label = train_test_split(dataset['text'], dataset['label'], test_size=0.2, random_state=42)



clf = MultinomialNB()


clf.fit(vec_train_data, train_label)


predictions = clf.predict(vec_test_data)


from sklearn.metrics import accuracy_score

accuracy = accuracy_score(test_label, predictions)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.55

In [60]:
test_label

10330    0
16393    0
11405    1
10363    1
554      0
        ..
19593    0
4245     1
16491    0
23416    1
8740     1
Name: label, Length: 8980, dtype: int64

In [62]:
from sklearn.metrics import accuracy_score

In [64]:

y_pred = clf.predict(vec_test_data)


from sklearn.metrics import accuracy_score

accuracy = accuracy_score(test_label, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.55

In [66]:

y_pred_train = clf.predict(vec_train_data)

In [67]:
accuracy_score(train_label,y_pred_train)

1.0

In [68]:
txt ='MOSCOW (Reuters) - Russia is to send 175 de-mining engineers to defuse mines in Syria s Deir al-Zor, Interfax news agency quoted Russia s Defence Ministry as saying on Monday. The first detachment of 40 de-miners has already been deployed to Russia s Hmeimim air base in Syria, the ministry said. Syrian government forces and U.S.-backed militias converged on Islamic State in separate offensives against the militants in the eastern Syrian province of Deir al-Zor on Sunday.'

In [70]:
news = clean_row(txt)

In [71]:
news

'moscowreutersrussiaistosenddeminingengineerstodefuseminesinsyriasdeiralzorinterfaxnewsagencyquotedrussiasdefenceministryassayingonmondaythefirstdetachmentofdeminershasalreadybeendeployedtorussiashmeimimairbaseinsyriatheministrysaidsyriangovernmentforcesandusbackedmilitiasconvergedonislamicstateinseparateoffensivesagainstthemilitantsintheeasternsyrianprovinceofdeiralzoronsunday'

In [72]:
pred=clf.predict(vectorizer.transform([news]).toarray())

In [73]:
pred

array([0], dtype=int64)

In [76]:
txt = input("Enter news: ")
news = clean_row(str(txt))
news_vectorized = vectorizer.transform([news]).toarray()
pred = clf.predict(news_vectorized)

if pred == 0:
    print('News is correct')
else:
    print('News is fake')

News is fake